---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} AecAiChang. All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2em 1em 4em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  p {
    margin: 0;
  }
</style>
